body{
    background-image: url(image/202.webp);
}
.navbar{
    width: 86%;
    display: flex;
    margin: auto;
    padding: 15px 0;
    align-items: center;
    justify-content: space-between;
   background-color:;
   color: black;
}
.navbar a :hover{
    background-color: aqua;
}
.rectangle{
  
}
.h1
{
    color: aqua;
}
.image{
    width: 400px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
}
.p
{
    font-size: 15px;
}